<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout/header :: head('게시판')"></head>

<body class="d-flex flex-column h-100">
<header th:replace="layout/header :: header"></header>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Board</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Board</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">BNO</th>
                            <th>TITLE</th>
                            <th>WRITER</th>
                            <th>REGDATE</th>
                            <th style="width: 40px">VIEWCNT</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="board : ${boardList}">
                                <td th:text="${board.bno}"></td>
                                <td><a th:href="@{'/board/read?bno='+${board.bno}}" th:text="${board.title}"></a></td>
                                <td th:text="${board.writer}"></td>
                                <td th:text="${board.regdate}"></td>
                                <td><span class="badge bg-red" th:text="${board.viewcnt}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

</body>
<footer th:replace="layout/footer :: footer"></footer>
</html>