<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{layout/header :: head('게시판')}"></head>

<body class="d-flex flex-column h-100">
<header th:replace="~{layout/header :: header}"></header>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Board</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Board</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="box-body">
                        <button id='newBtn'>글쓰기</button>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">BNO</th>
                            <th>TITLE</th>
                            <th>WRITER</th>
                            <th>REGDATE</th>
                            <th style="width: 40px">VIEWCNT</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="board : ${boardList}">
                                <td th:text="${board.bno}"></td>
                                <td><a th:href="@{'/board/read?bno='+${board.bno}}" th:text="${board.title}"></a></td>
                                <td th:text="${board.writer}"></td>
                                <td th:text="${#dates.format(board.regdate, 'yyyy-MM-dd HH:mm')}"></td>
                                <td><span class="badge bg-red" th:text="${board.viewcnt}"></span></td>
                            </tr>
                        </tbody>
                    </table>

<!--                    <div class="text-center">-->
<!--                        <ul class="pagination">-->

<!--                            <c:if test="${pageMaker.prev }">-->
<!--                                <li><a href="list${pageMaker.makeSearch(pageMaker.startPage - 1)}">&laquo;</a></li>-->
<!--                            </c:if>-->

<!--                            <c:forEach begin="${pageMaker.startPage }"-->
<!--                                       end="${pageMaker.endPage }" var="idx">-->
<!--                                <li-->
<!--                                <c:out value="${pageMaker.cri.page == idx?'class = active':''}"/>>-->
<!--                                <a href="list${pageMaker.makeSearch(idx)}">${idx}</a>-->
<!--                                </li>-->
<!--                            </c:forEach>-->

<!--                            <c:if test="${pageMaker.next && pageMaker.endPage > 0 }">-->
<!--                                <li><a href="list${pageMaker.makeSearch(pageMaker.endPage + 1)}">&raquo;</a></li>-->
<!--                            </c:if>-->

<!--                        </ul>-->
<!--                    </div>-->

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

</body>
<footer th:replace="~{layout/footer :: footer}"></footer>

<script th:inline="javascript">
    $(document).ready(function() {
        var result = [[${msg}]];

        if(result == 'success') {
            alert("처리가 완료되었습니다.");
        }

        $('#searchBtn').on("click", function(){
            self.location = "list"
                + '${pageMaker.makeQuery(1)}'
                + "&searchType="
                + $("select option:selected").val()
                + "&keyword="
                + $('#keywordInput').val();
        });

        $('#newBtn').on("click", function(){
            self.location = "register";
        });
    });
</script>

</html>