<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{layout/header :: head('게시판 읽기')}"></head>

<body class="d-flex flex-column h-100">
<header th:replace="~{layout/header :: header}"></header>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Board</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Board</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <form role="form" method="post">

                        <div class="box-body">
                            <div class="form-group">
                                <label>BNO</label>
                                <input type="text" name='bno' class="form-control" th:value="${board.bno}" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" name='title' class="form-control" th:value="${board.title}">
                            </div>
                            <div class="form-group">
                                <label>Content</label>
                                <textarea class="form-control" name="content" rows="3" th:text="${board.content}"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Writer</label>
                                <input type="text" name='writer' class="form-control" th:value="${board.writer}">
                            </div>
                        </div>
                    </form>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">SAVE</button>
                        <button type="submit" class="btn btn-warning">CANCEL</button>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

</body>
<footer th:replace="~{layout/footer :: footer}"></footer>

<script>
    $(document).ready(function() {

        var formObj = $("form[role='form']");

        console.log(formObj);

        $(".btn-warning").on("click", function(){
            self.location = "/board/listAll";
        });

        $(".btn-primary").on("click", function(){
            formObj.submit();
        });

    });
</script>

</html>




